<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ergv.glScreenSavers"
          android:versionName="1.0.0.3">

    <!-- We require OpenGL ES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">

        <activity android:name=".TableOfContents">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".bricksShader.BricksShaderActivity"
            android:label="@string/bricks_shader"/>

        <activity
            android:name=".MandelbrotSet.MandelbrotSetActivity"
            android:label="@string/mandelbrot_set"/>
        <activity
            android:name=".Polyhedrons.PolyhedronsActivity"
            android:label="@string/polyhedrons"/>

        <activity
            android:name=".geodeticBodies.GeodeticBodiesActivity"
            android:label="@string/geodetic_bodies_title"/>

        <service
            android:name="com.ergv.glScreenSavers.switchinglivewallpaper.GLAnimationDream"
            android:exported="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream_preference">
            </meta-data>
        </service>
    </application>

</manifest>